html {
  box-sizing: border-box;

}

body {
  background: #fff;
  background-image: url(images/picture-in-picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat, sans-serif;
  height: 90vh;
  margin: 0;
}

h1 {
  color: #20365f;
  font-family: 'Abril Fatface';
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin: 1.5em auto;
  text-align: center;
  width: 75%;
}

.btn-container {
  background: transparent;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 350px;
}

button {
  background: #20365f;
  border: 0;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  height: 2em;
  width: 6em;
  transition: all 0.4s;
}

button:hover,
button:focus  {
  background-color: #e7b7a0;
  color: #20365f;
  font-weight: 700;
  transform: scale(1.05);
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1100px) {
  h1 {
    margin-bottom: 0.75em;
  }
}

@media screen and (max-width: 800px) {
  body {
    background: url(images/picture-in-picture-cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
